<div class="page-header">
  <h1>
    Eval accomplishments
    <a href="/eval_accomplishments/new" class="btn btn-lg btn-success">New Eval accomplishment</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Accomplishment description</th>
        <th>Actions</th>
      </tr>

      <% @eval_accomplishments.each do |eval_accomplishment| %>
      <tr>
        <td><%= eval_accomplishment.accomplishment_description %></td>
        <td>
          <a href="/eval_accomplishments/<%= eval_accomplishment.id %>" class="btn btn-primary">Show</a>
          <a href="/eval_accomplishments/<%= eval_accomplishment.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_eval_accomplishment/<%= eval_accomplishment.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @eval_accomplishments, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
