<div class="page-header">
  <h3>Rating #<%= @rating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Rating name</dt>
      <dd><%= @rating.rating_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ratings" class="btn btn-primary">
        Back
      </a>
      <a href="/ratings/<%= @rating.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_rating/<%= @rating.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Rating has many additional_rating_references -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Additional_rating_references
      </li>

      <% @rating.additional_rating_references.each do |additional_rating_reference| %>
        <li class="list-group-item">
          <a href="/additional_rating_references/<%= additional_rating_reference.id %>">
            <%= additional_rating_reference.rating_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/additional_rating_references/<%= additional_rating_reference.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/additional_rating_references/<%= additional_rating_reference.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_additional_rating_reference/<%= additional_rating_reference.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_additional_rating_reference" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for rating_id -->
      <input type="hidden" name="rating_id" value="<%= @rating.id %>">

      <!-- Label and input for rating_reference_text -->
      <div class="form-group">
        <label for="rating_reference_text" class="control-label">
          Rating reference text
        </label>

        <input type="text" id="rating_reference_text" name="rating_reference_text" placeholder="Rating reference text" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Additional Rating Reference
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
