<div class="page-header">
  <h3>Rating #<%= @rating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Rating name</dt>
      <dd><%= @rating.rating_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ratings" class="btn btn-primary">
        Back
      </a>
      <a href="/ratings/<%= @rating.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_rating/<%= @rating.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Rating has many additional_rating_references -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Additional_rating_references
      </li>

      <% @rating.additional_rating_references.each do |additional_rating_reference| %>
        <li class="list-group-item">
          <a href="/additional_rating_references/<%= additional_rating_reference.id %>">
            <%= additional_rating_reference.rating_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/additional_rating_references/<%= additional_rating_reference.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/additional_rating_references/<%= additional_rating_reference.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_additional_rating_reference/<%= additional_rating_reference.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
