<div class="page-header">
  <h3>Rank #<%= @rank.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Rank name</dt>
      <dd><%= @rank.rank_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ranks" class="btn btn-primary">
        Back
      </a>
      <a href="/ranks/<%= @rank.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_rank/<%= @rank.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Rank has many additional_rank_references -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Additional_rank_references
      </li>

      <% @rank.additional_rank_references.each do |additional_rank_reference| %>
        <li class="list-group-item">
          <a href="/additional_rank_references/<%= additional_rank_reference.id %>">
            <%= additional_rank_reference.rank_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/additional_rank_references/<%= additional_rank_reference.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/additional_rank_references/<%= additional_rank_reference.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_additional_rank_reference/<%= additional_rank_reference.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_additional_rank_reference" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for rank_id -->
      <input type="hidden" name="rank_id" value="<%= @rank.id %>">

      <!-- Label and input for rank_reference_text -->
      <div class="form-group">
        <label for="rank_reference_text" class="control-label">
          Rank reference text
        </label>

        <input type="text" id="rank_reference_text" name="rank_reference_text" placeholder="Rank reference text" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Additional Rank Reference
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
