<div class="page-header">
  <h1>
    Evals
    <a href="/evals/new" class="btn btn-lg btn-success">New Eval</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Sailor</th>
        <th>Eval group</th>
        <th>Trait average</th>
        <th>Mark ones</th>
        <th>Mark twos</th>
        <th>Mark threes</th>
        <th>Mark fours</th>
        <th>Mark fives</th>
        <th>Promotion recommendation</th>
        <th>Actions</th>
      </tr>

      <% @evals.each do |eval| %>
      <tr>
        <td><%= eval.sailor.first_name %></td>
        <td><%= eval.eval_group.group_name %></td>
        <td><%= eval.trait_average %></td>
        <td><%= eval.mark_ones %></td>
        <td><%= eval.mark_twos %></td>
        <td><%= eval.mark_threes %></td>
        <td><%= eval.mark_fours %></td>
        <td><%= eval.mark_fives %></td>
        <td><%= eval.promotion_recommendation %></td>
        <td>
          <a href="/evals/<%= eval.id %>" class="btn btn-primary">Show</a>
          <a href="/evals/<%= eval.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_eval/<%= eval.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
