<!-- Validation failure messages -->
<% if @additional_rank_reference.errors.any? %>
  <% @additional_rank_reference.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Additional Rank Reference #<%= @additional_rank_reference.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_additional_rank_reference/<%= @additional_rank_reference.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for rank_id -->
      <div class="form-group">
        <label for="rank_id" class="control-label">
          Rank
        </label>

        <%= select_tag(:rank_id, options_from_collection_for_select(Rank.all, :id, :rank_name, @additional_rank_reference.rank_id), :class => "form-control") %>
      </div>

      <!-- Label and input for rank_reference_text -->
      <div class="form-group">
        <label for="rank_reference_text" class="control-label">
          Rank reference text
        </label>

        <input type="text" id="rank_reference_text" name="rank_reference_text" placeholder="Rank reference text" class="form-control" value="<%= @additional_rank_reference.rank_reference_text %>">
      </div>

      <button class="btn btn-warning">
        Update Additional Rank Reference
      </button>
      or
      <a href="/additional_rank_references/<%= @additional_rank_reference.id %>">Cancel</a>
    </form>
  </div>
</div>
