<div class="page-header">
  <h3>Additional Rank Reference #<%= @additional_rank_reference.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Rank</dt>
      <dd><%= @additional_rank_reference.rank_id %></dd>

      <dt>Rank reference text</dt>
      <dd><%= @additional_rank_reference.rank_reference_text %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/additional_rank_references" class="btn btn-primary">
        Back
      </a>
      <a href="/additional_rank_references/<%= @additional_rank_reference.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_additional_rank_reference/<%= @additional_rank_reference.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
