<div class="page-header">
  <h3>Sailor #<%= @sailor.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @sailor.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @sailor.last_name %></dd>

      <dt>Middle name</dt>
      <dd><%= @sailor.middle_name %></dd>

      <dt>Division</dt>
      <dd><%= @sailor.division %></dd>

      <dt>Command</dt>
      <dd><%= @sailor.command %></dd>

      <dt>Rank</dt>
      <dd><%= @sailor.rank %></dd>

      <dt>Rating</dt>
      <dd><%= @sailor.rating %></dd>

      <dt>Position</dt>
      <dd><%= @sailor.position %></dd>

      <dt>Collateral duty 1</dt>
      <dd><%= @sailor.collateral_duty_1 %></dd>

      <dt>Collateral duty 2</dt>
      <dd><%= @sailor.collateral_duty_2 %></dd>

      <dt>Collateral duty 3</dt>
      <dd><%= @sailor.collateral_duty_3 %></dd>

      <dt>Primary responsibility</dt>
      <dd><%= @sailor.primary_responsibility %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/sailors" class="btn btn-primary">
        Back
      </a>
      <a href="/sailors/<%= @sailor.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_sailor/<%= @sailor.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Sailor has many evals -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Evals
      </li>

      <% @sailor.evals.each do |eval| %>
        <li class="list-group-item">
          <a href="/evals/<%= eval.id %>">
            <%= eval.sailor_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/evals/<%= eval.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/evals/<%= eval.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_eval/<%= eval.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_eval" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for sailor_id -->
      <input type="hidden" name="sailor_id" value="<%= @sailor.id %>">

      <!-- Label and input for eval_group_id -->
      <div class="form-group">
        <label for="eval_group_id" class="control-label">
          Eval group
        </label>

        <%= select_tag(:eval_group_id, options_from_collection_for_select(EvalGroup.all, :id, :group_name), :class => "form-control") %>
      </div>

      <!-- Label and input for trait_average -->
      <div class="form-group">
        <label for="trait_average" class="control-label">
          Trait average
        </label>

        <input type="text" id="trait_average" name="trait_average" placeholder="Trait average" class="form-control" value="">
      </div>

      <!-- Label and input for mark_ones -->
      <div class="form-group">
        <label for="mark_ones" class="control-label">
          Mark ones
        </label>

        <input type="text" id="mark_ones" name="mark_ones" placeholder="Mark ones" class="form-control" value="">
      </div>

      <!-- Label and input for mark_twos -->
      <div class="form-group">
        <label for="mark_twos" class="control-label">
          Mark twos
        </label>

        <input type="text" id="mark_twos" name="mark_twos" placeholder="Mark twos" class="form-control" value="">
      </div>

      <!-- Label and input for mark_threes -->
      <div class="form-group">
        <label for="mark_threes" class="control-label">
          Mark threes
        </label>

        <input type="text" id="mark_threes" name="mark_threes" placeholder="Mark threes" class="form-control" value="">
      </div>

      <!-- Label and input for mark_fours -->
      <div class="form-group">
        <label for="mark_fours" class="control-label">
          Mark fours
        </label>

        <input type="text" id="mark_fours" name="mark_fours" placeholder="Mark fours" class="form-control" value="">
      </div>

      <!-- Label and input for mark_fives -->
      <div class="form-group">
        <label for="mark_fives" class="control-label">
          Mark fives
        </label>

        <input type="text" id="mark_fives" name="mark_fives" placeholder="Mark fives" class="form-control" value="">
      </div>

      <!-- Label and input for promotion_recommendation -->
      <div class="form-group">
        <label for="promotion_recommendation" class="control-label">
          Promotion recommendation
        </label>

        <input type="text" id="promotion_recommendation" name="promotion_recommendation" placeholder="Promotion recommendation" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Eval
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
