<!-- Validation failure messages -->
<% if @verb.errors.any? %>
  <% @verb.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Verb #<%= @verb.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_verb/<%= @verb.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for verb_word -->
      <div class="form-group">
        <label for="verb_word" class="control-label">
          Verb word
        </label>

        <input type="text" id="verb_word" name="verb_word" placeholder="Verb word" class="form-control" value="<%= @verb.verb_word %>">
      </div>

      <button class="btn btn-warning">
        Update Verb
      </button>
      or
      <a href="/verbs/<%= @verb.id %>">Cancel</a>
    </form>
  </div>
</div>
